{% extends 'blog/basic.html' %}
{% block title %} myStore-Blogs {% endblock %}
{% block body %}

<div class="container mt-3">
  <div class="row my-2">
    {% for blog in allBlogs %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{blog.title}}</strong>
          <h3 class="mb-0">{{blog.heading}}</h3>
          <div class="mb-1 text-muted">{{blog.pub_date}}</div>
          <p class="card-text mb-auto">{{blog.description|slice:"0:70"}}...</p>
          <a href="/blog/blogpost/{{blog.post_id}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src='/media/{{blog.thumbnail}}' width="200px" height="281px">
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
  </div>
  <div class="row my-2">
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}